:root{
    --back-color: rgb(43, 42, 42);
    --titles-color: rgb(253, 253, 253) ;
    --color-red : red;
    --blue:rgb(17, 82, 204);
    --zebra:rgb(219, 218, 218) ;
}

body {
    display: flex;
    justify-content: center;
}

table {
    font-size: 60px;
}

thead {
    background-color: var(--blue);
    color: var(--titles-color);
}

th {
    padding: 2rem;
}

td {
    text-align: center;
}

tr > td {
    padding-right: 4rem;
    padding-left: 2rem;
}

th, td {
    border: 1px solid black;
}

tbody tr:nth-child(even) {
    background-color: var(--zebra);
}

caption {
    caption-side: bottom;
    font-size: 2rem;
}