@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@700&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@700&family=Quicksand&display=swap');

:root{
    --titles: 'Playpen Sans', cursive;
    --text: 'Quicksand', sans-serif;
    --main-color: #22577A;
    --second-color: #38A3A5;
    --third-color: #57CC99;
    --fourth-color: #80ED99;
    --fifth-color: #C7F9CC;
}

#home {
    position: relative;
    overflow: hidden;
}

.logo h1 {
    margin: 0;
    font-size: 2em;
    font-family: var(--titles);
    color: var(--main-color);
}

header {
    background-color: var(--second-color);
    padding: 20px;
    text-align: center;
    font-family: var(--text);
}

/* Hamburger menu */
.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--main-color);
    font-family: var(--titles);
}

.nav-links {
    display: flex;
    justify-content: center;
}

.nav-links ul {
    list-style: none;
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

.nav-links ul li {
    margin: 0 15px;
}

.nav-links ul li a {
    text-decoration: none;
    color: var(--fifth-color);
    font-family: var(--text);
    transition: color 0.3s ease, background-color 0.3s ease;
    display: block;
    padding: 10px 0;
}

.nav-links.show ul li a {
    text-decoration: none;
    color: black;
    font-family: var(--text);
    transition: color 0.3s ease, background-color 0.3s ease;
    display: block;
    padding: 5px;
}

.nav-links ul li a:hover {
    color: var(--fourth-color);
    background-color: var(--second-color);
}

.nav-links show {

}

/* Hero section */
.hero {
    position: relative;
    text-align: center;
    color: #fff;
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.call-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--third-color); 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--titles);
    border-radius: 5px;
    z-index: 2;
}

.call-action:hover {
    background-color: #e55e00;
}

.logo h1 {
    margin: 0;
    font-size: 2em;
    color: #333;
}
  
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
nav ul li {
    display: inline;
    margin-right: 20px;
}
  
nav ul li a {
    text-decoration: none;
    color: #333;
}
  
main {
    padding: 20px;
}
  
section {
    margin-bottom: 30px;
}
  
section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
  
.rental-options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
  
.rental-type {
    flex: 1 1 300px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.rental-type img {
    max-width: 100px;
    margin-bottom: 10px;
}
  

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
  
.privacy a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}