@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

:root{
    --titles: 'Rubik Mono One', sans-serif;
    --subtitles: 'Lora', serif;
    --text: 'Manrope', sans-serif;
    --main-color: #03045e;
    --second-color: #0077B6;
    --third-color: #00b4d8;
    --fourth-color: #90e0ef;
    --fifth-color: #caf0f8;
}

p {
    font-size: 20px;
}

main {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Navigation */

.active::before {
    content: "🪙";
}

.active{
    text-decoration: underline var(--third-color);
}

.logo img{
    width: 200px;
}

nav {
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

nav div{
    grid-column: 1/3;
    display: flex;
    justify-content: center;
}
  
nav ul {
list-style-type: none;
padding: 0;
margin: 0;
}

nav ul li{
    width: 100%;
    padding: 0;
    margin: 0;
}

nav ul li a {
display: flex;
justify-content: center;
padding: 0.8rem 2vw;
padding-right: 0;
padding-left: 0;
width: 100%;
text-decoration: none;
color: white;
font-size: 1.5rem;
font-family: var(--subtext);
border-top: 1px solid rgba(0, 0, 0, 0.5);
font-weight: bolder;
}

.open{
    background-color: var(--main-color);
    max-width: 32rem;
    border: none;
}

.open a{
    margin: 0;
    background-color: var(--main-color);
    border: none;
    width: 100%;
}

nav ul.open{
    margin-top: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0; 
}

nav ul {
    display: none;
}
    
nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

.hmbbutton{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    padding: 1rem;   
}

.hmbbutton button{
    border: none;
    background-color: white;
}

.hmbbutton span{
    font-size: 2.5rem;
    color: white;
}

.social-header {
    display: none;
}

/* Main */

h1 {
    font-family: var(--subtitles);
    text-align: center;
    font-size: 3.5rem;
    color: var(--main-color);
    line-height: 42px;
	text-shadow: 0 2px white, 5px 3px #777;
    letter-spacing: 2px;
    line-height: 5rem;
}

h2{
    font-family: var(--titles);
    font-size: 2rem;
    letter-spacing: 1px;
    color: var(--second-color);
    text-align: center;
}
.hero{
    position: relative;
    display: inline-block;
    text-align: center;
}
.hero img{
    padding-top: 1rem;
    width: 100%;
    margin: 0 auto;
}

/* Join button */
.call-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    border-radius: 5px 5px;
    opacity: 90%;
    font-family: var(--titles);
    font-size: 1.3rem;
    color: var(--main-color);
    background-color: var(--fifth-color);
    letter-spacing: 1px;
    text-decoration: none;
}
.call-action:hover {
    font-size: larger;
    background-color: var(--main-color);
    color: white;
}
.call-action:hover a {
    color: var(--third-color);
}

.weather {
    font-family: var(--text);
    text-align: center;
    color: var(--main-color);
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.events{
    margin-top: 1rem;
    border: 3px solid var(--main-color);
    border-radius: 10px;
    padding: 1rem;
    background-color: aliceblue;
}
.events h2{
    text-align: center;
    font-size: 2rem;
    font-family: var(--titles);
    letter-spacing: 1px;
    color: var(--second-color);
}
.events p{
    font-family: var(--text);
    font-weight: 400;
}
.events h3{
    font-family: var(--subtitles);
    letter-spacing: 1px;
    color: var(--main-color);
    text-decoration: underline wavy var(--second-color);
}
.events h3:nth-child(4), h3:nth-child(6){
    border-top: 1px solid var(--main-color);
    padding-top: .5rem;
}

.titleH3{
    font-family: var(--subtitles);
    font-size: 2rem;
    letter-spacing: 1px;
    color: #106492;
}
.spotlights img{
    width: 100%;
}
.spotlights div{
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
}
.spotlights p{
    font-family: var(--text);
}

/* Footer */

footer{
    background-color: var(--main-color);
    margin-top: 1rem;
}

.basefooter{
    color: white;
    padding: 1rem;
    text-align: center;
    font-family: var(--text);
}

.social-icons{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
    margin-right: 1rem;
}

.social-icons img{
    width: 30px;
    margin: 2px;
}

.social-icons img:hover{
    width: 50px;
}

.grid-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2rem;
}

.contact-info{
    color:white;
    padding-left: .2rem;
    text-align: center;
    font-size: 13px;
    font-family: var(--subtitles);
}
.logo-footer{
    display: flex;
    justify-content: center;
}
.logo-footer img{
    width: 180px;
}
