@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

:root{
    --titles: 'Rubik Mono One', sans-serif;
    --subtitles: 'Lora', serif;
    --text: 'Manrope', sans-serif;
    --main-color: #03045e;
    --second-color: #0077B6;
    --third-color: #00b4d8;
    --fourth-color: #90e0ef;
    --fifth-color: #caf0f8;
}

p {
    font-size: 20px;
}

main {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Navegation Menu */

.active::before {
    content: "🪙";
}

.active {
    text-decoration: underline var(--third-color);
}

nav {
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* Hamburger Menu */

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: .25rem .75rem;
	background-color: white;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

nav{
    background-color: var(--main-color);
    text-align: center;
    font-size: 1.5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: black;
	color: white;
    font-family: 'Gloria Hallelujah', cursive;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: white;
}

.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------*/