@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

:root{
    --titles: 'Rubik Mono One', sans-serif;
    --subtitles: 'Lora', serif;
    --text: 'Manrope', sans-serif;
    --main-color: #03045e;
    --second-color: #0077B6;
    --third-color: #00b4d8;
    --fourth-color: #90e0ef;
    --fifth-color: #caf0f8;
}

p {
    font-size: 20px;
}

main {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Navigation */

.active::before {
    content: "🪙";
}

.active{
    text-decoration: underline var(--third-color);
}

.logo img{
    width: 200px;
}

nav {
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

nav div{
    grid-column: 1/3;
    display: flex;
    justify-content: center;
}
  
nav ul {
list-style-type: none;
padding: 0;
margin: 0;
}

nav ul li{
    width: 100%;
    padding: 0;
    margin: 0;
}

nav ul li a {
display: flex;
justify-content: center;
padding: 0.8rem 2vw;
padding-right: 0;
padding-left: 0;
width: 100%;
text-decoration: none;
color: white;
font-size: 1.5rem;
font-family: var(--subtext);
border-top: 1px solid rgba(0, 0, 0, 0.5);
font-weight: bolder;
}

.open{
    background-color: var(--main-color);
    max-width: 32rem;
    border: none;
}

.open a{
    margin: 0;
    background-color: var(--main-color);
    border: none;
    width: 100%;
}

nav ul.open{
    margin-top: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0; 
}

nav ul {
    display: none;
}
    
nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

.hmbbutton{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    padding: 1rem;   
}

.hmbbutton button{
    border: none;
    background-color: white;
}

.hmbbutton span{
    font-size: 2.5rem;
    color: white;
}

.social-header {
    display: none;
}

/* Main */

h1 {
    font-family: var(--subtitles);
    text-align: center;
    font-size: 3.5rem;
    color: var(--main-color);
    line-height: 42px;
	text-shadow: 0 2px white, 5px 3px #777;
    letter-spacing: 2px;
    line-height: 5rem;
}

h2{
    font-family: var(--titles);
    font-size: 2rem;
    letter-spacing: 1px;
    color: var(--second-color);
    text-align: center;
}
.hero{
    position: relative;
    display: inline-block;
    text-align: center;
}
.hero img{
    padding-top: 1rem;
    width: 100%;
    margin: 0 auto;
}

/* Join button */
.call-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    border-radius: 5px 5px;
    opacity: 90%;
    font-family: var(--titles);
    font-size: 1.3rem;
    color: var(--main-color);
    background-color: var(--fifth-color);
    letter-spacing: 1px;
    text-decoration: none;
}
.call-action:hover {
    font-size: larger;
    background-color: var(--main-color);
    color: white;
}
.call-action:hover a {
    color: var(--third-color);
}

.weather {
    font-family: var(--text);
    text-align: center;
    color: var(--main-color);
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.events{
    margin-top: 1rem;
    border: 3px solid var(--main-color);
    border-radius: 10px;
    padding: 1rem;
    background-color: aliceblue;
}
.events h2{
    text-align: center;
    font-size: 2rem;
    font-family: var(--titles);
    letter-spacing: 1px;
    color: var(--second-color);
}
.events p{
    font-family: var(--text);
    font-weight: 400;
}
.events h3{
    font-family: var(--subtitles);
    letter-spacing: 1px;
    color: var(--main-color);
    text-decoration: underline wavy var(--second-color);
}
.events h3:nth-child(4), h3:nth-child(6){
    border-top: 1px solid var(--main-color);
    padding-top: .5rem;
}

.titleH3{
    font-family: var(--subtitles);
    font-size: 2rem;
    letter-spacing: 1px;
    color: #106492;
}
.spotlights img{
    width: 100%;
}
.spotlights div{
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
}
.spotlights p{
    font-family: var(--text);
}

/* Footer */

footer{
    background-color: var(--main-color);
    margin-top: 1rem;
}

.basefooter{
    color: white;
    padding: 1rem;
    text-align: center;
    font-family: var(--text);
}

.social-icons{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
    margin-right: 1rem;
}

.social-icons img{
    width: 30px;
    margin: 2px;
}

.social-icons img:hover{
    width: 50px;
}

.grid-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2rem;
}

.contact-info{
    color:white;
    padding-left: .2rem;
    text-align: center;
    font-size: 13px;
    font-family: var(--subtitles);
}
.logo-footer{
    display: flex;
    justify-content: center;
}
.logo-footer img{
    width: 180px;
}

/* Discover */
.grid-discover{
    display: flex;
    flex-direction: column;
}

.content-img img{
    width: 100%;
}

.content-img p{
    font-family: var(--text);
}

.grid-discover div div div {
    border: 1px solid var(--second-color);
    margin-bottom: 1.5rem;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.grid-discover h2{
    font-family: var(--titles);
    letter-spacing: 2px;
    color: var(--second-color);
}

.grid-discover p{
    padding: 1rem;
    font-family: var(--text);
}

div.sidebar {
    padding: 1rem;
    font-family: var(--text);
    border: none;
}

/* Visits */

div.visits{
    text-align: center;
    font-family: var(--text);
    font-size: 18px;
    border: none;
    width: 50%;
    margin: 0 auto;
    background-color: var(--fourth-color);
    color: var(--main-color);
}

/* Join */

.container-form {
    background-color: var(--fifth-color);
    padding: 0;
    margin: 0;
}

.grid-join {
    padding: 0;
    display: flex;
    flex-direction: column;
}

form fieldset {
    margin: 2rem;
    border: 1px solid rgb(186, 188, 186);
    border-radius: 10px;
}

form legend {
    margin: 0 1rem;
    padding: 0.5rem;
    color: var(--main-color);
    font-family: var(--subtitles);
    font-size: 30px;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    font-size: 20px;
    color: var(--main-color);
    font-family: var(--text);
}

form label.top input, form label.top select {
    display: block;
    font-size: 1.5rem;
    border: solid 1px var(--second-color);
    border-radius: 4px;
    color: var(--main-color);
    width: 100%;
    max-width: 20rem;
    height: 45px;
    background-color: rgba(0, 0, 0, 0, 1);
    font-family: var(--text);
}

form input.submitBtn {
    border: none;
    background-color: var(--third-color);
    color: white;
    font-size: 30px;
    font-family: var(--text);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    margin-left: 5rem;
    width: 50%;
}

form input.submitBtn:hover {
    background-color: var(--main-color);
}

form label.top input:required{
    border-left: red solid 6px;

}

form label.top input:required:valid{
    border-left: green solid 6px;
}

form fieldset textarea{
    width: 100%;
}

div.container-membership{
    background-color: var(--fourth-color);
    color: var(--main-color);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container-membership h3{
    text-align: center;
    font-family: var(--titles);
    letter-spacing: 3px;
}

.container-membership div{
    display: flex;
    flex-direction: column;
    font-family: var(--text);
}

.container-membership li {
    padding: 0.3rem;
}

.radio-memb{
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.radios{
    border: none;
    padding-bottom: 1rem;
    display: block;
}

.container-membership h2{
    text-align: center;
    font-family: var(--titles);
    letter-spacing: 3px;
    color: var(--main-color);
    -webkit-text-stroke: 1px white;
    text-decoration: underline blue;
}

.gold h3 {
    text-decoration: underline yellow;
}

.silver h3 {
    text-decoration: underline white;
}

.bronze h3 {
    text-decoration: underline orange;
}

.container-membership p{
    padding: 14px;
}

.thanksmessage {
    background-color: var(--second-color);
    color: white;
}

.thanksmessage h1{
    text-align: center;
    font-family: var(--titles);
    letter-spacing: 3px;
}

.thanksmessage p{
    padding: 1rem;
    font-family: var(--text);
    font-size: 1.5rem;
}

/* Directory */
div.cards{
    padding: 0;
    border: none;
    width: 100%;
    margin: 0 auto;
}

.cards  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    padding: 20px;

}

.cards section{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.cards section h3{
    font-size: 1.5rem;
    color: #333;
    margin: 10px 0;
    font-family: var(--titles);
    color: var(--second-color);
}

.cards p{
    font-size: 1rem;
    margin: 8px 0;
    font-family: var(--text);
}

.cards a{
    font-size: 1rem;
    color: #0074D9;
    text-decoration: none;
    transition: color 0.3s;
    font-family: var(--titles);
    color: var(--second-color);
}

.cards a:hover {
    color: red;
}

.cards img{
    width: 100%;
    height: auto;
   
}

.cards #list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}
  
.cards.list section {
    margin: 0;
    padding: 0;
    background-color: var(--fifth-color);
    text-align: start;
    width: 100%;
}

.cards.list section h2 {
font-size: 1.3rem;
padding-left:1rem;
}

.cards.list section  p{
    font-size: 20px;
   
}
.cards.list section a{
    font-size: 20px;   
}

.cards.list section:nth-child(even) {
background-color: rgb(245, 242, 242);
}

.cards.list section:hover {
box-shadow: 10px 10px 10px 10px rgb(124, 124, 124, 0.8);
}

.cards.list img{ display: none;
}

#grid, #list {
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#list {
    margin-left: 10px;
}

.flexbox {
    display: flex;
    justify-content: center;   
}

.flexbox button{
    font-family: var(--text);
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #e1e7ec;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.flexbox button:hover {
    background-color: #abaeb2;
}