@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100%;
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: .25rem .75rem;
	background-color: #eee;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

nav{
    background-color: black;
    text-align: center;
    font-size: 1.5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: black;
	color: white;
    font-family: 'Gloria Hallelujah', cursive;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: white;
}

.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

header {
    background-color: rgb(51, 51, 149);
    display: grid;
    grid-template-columns: 1fr 3fr;
}

header img{
    width: 100%;
    padding-left: 1rem;
    height: auto;
}

header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    display: flex;
    color: white;
    margin: 5rem auto;
    text-align: center;
    
}

h2{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    background-color: aquamarine;
}


main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.card1 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #caf0f8;
}

.card1 h3 {
    text-decoration: underline rgb(51, 51, 149);
}

.card2 h3 {
    text-decoration: underline wavy rgb(51, 51, 149);
}

.card ul {
    list-style-type: none;
    font-weight: bolder;
}

.card ul li {
    font-family: 'Gloria Hallelujah', cursive;
}

h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.map {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

footer {
    text-align: center;
    font-family: 'Raleway', sans-serif;
} 