@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body{
    width: 50%;
    margin: 0 auto;
    align-content: center;
}

nav{
    background-color: black;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

nav a{
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    font-size: 150%;
    padding: 0.5%;
}

header {
    background-color: rgb(51, 51, 149);
    display: grid;
    grid-template-columns: 1fr 3fr;
}

header img{
    width: 200px;
    margin-top: -1rem;
    margin-bottom: -1rem;
    box-shadow: 3px 5px 5px rgba(0,0,0,0.5);
    padding-left: 0;
    margin-left: 1rem;
}

header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    color: white;
    margin: 5rem;
    text-align: center;
    
}

h2{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 1fr;
}

.card ul {
    list-style-type: none;
    font-weight: bolder;
}


h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

footer {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}